
<div style="text-align: center; margin: 15px auto">
<h1 style="margin: 30px auto">Report generator</h1>

<form action="report" method="GET">

start: <input type="date" name="start_date">
end: <input type="date" name="end_date"><br/><br/>

<button type="submit" class="btn btn-outline-info" id="btn_graph" name="btn_graph" value="graph" >By category</button>

<button type="submit" class="btn btn-outline-secondary" id="btn_date" name="btn_date" value="date" >By dates</button>

</form>
</div>








